*{border:5px solid black !important;}

*{font-family:"Times New Roman", Times, serif; }

*{-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}
    
body {background-color: #993D00; }   


a { font-size: 25px;
		color:#FFD6AD;
		padding:20px;}
		
.banner {margin:0 auto;
    		padding: 10px;
    		width: 100%;}	  
    
.right {position: absolute;
         right: 0px;
          width: 20%
			background-color: #993D00;
			color:#FFD6AD;
			 margin: 0 auto;
			 padding: 5%;}
			 
.center {width: 50%;
			border-radius:25px;
			background-color: #FFD6AD;
			margin: auto;
  			padding: 5%;}
  			
.center-row{width: 50%;
				
				color: #993D00;
				padding-top: 20px;} 		

.left{ position: absolute;
 		left: 0px;
		 background-color: #993D00;
		 color:#FFD6AD;
		 margin: 0 auto;
		 padding: 5%;
			 width: 20%}