*{border: 1px solid black !important;}


*{font-family:"Times New Roman", Times, serif; }

*{-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}

body {background-color:#993D00;}  
  
.grid {padding: 5% auto;
       width: 100%;
       display:flex;
    flex-wrap: wrap;}
		
.row {width: 100%}
     
.left {width:25%;
       float:left;
       overflow: auto;
       padding: 20px;}
 
.right {width: 25%;
        float: right;
        overflow: auto;}
        
.center {border-radius: 25px;
 			background-color:#FFD6AD;
			color: #993D00;
			padding: 30px; 
			overflow: auto;
         width: 50%;}
       
    	
.col-2 {width: 16.6%;}

.col-3 {width: 33.3%;}


.col-9 {width: 66.66%;}

.small {font-size: 12px;}

.banner {margin: auto;
    		width: 60%;
    		padding: 10px;}


			
a { font-size: 25px;
		color:#FFD6AD;
		padding:20px;}

p{ font-size:16px; color: #532100; 
background-color:inherit;}

ul{ font-size:16px;
 	color: #532100;
 	padding-bottom: 5px;}

.center-row{background-color:#FFD6AD;
			color: #993D00;
			padding: 30px; 
			margin:0 auto;
			width:50% auto; }

.recipe {font-size: 20px;
			color:#993D00;
         background-color:#FFD6AD;
			padding-left:10px; 
			width: 25%; }	
