* {border: 4px  !important;}

* {-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}
    
*{background-color:#D6D6C2;}

.grid {margin: 0 auto;
    max-width: 1200px;
    width: 100%;}
    @media only screen and (max-width:500px) 
    {
	img {display: none;}
    }
h1{ padding-left:30%;}

h2 {padding-left: 10%;}

h3{padding-left:4%;}


.row {width: 100%;
    margin-bottom: 10px;
    display: flex;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%;}

.col-4 {width: 33.33%;}

.col-10 {width: 83.33%;
			padding-left: 10%;}

.col-12 {width: 100%;}