* {border: 1px }
* {-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}

*{background-color:#CC99FF}

*{font-family:"Times New Roman", Times, serif; }

.grid {margin: 0 auto;
      max-width: 1200px;
      width: 100%;}

.row { width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;}
    
h1 {background-color: #FFCCFF; font-size: 50px;}

h3 {background-color: #FFCCFF; font-size: 30px;}

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%; }

.col-3 {width: 25%;}

.col-6 {width: 50%; padding: 10%}

.col-9 {width: 75%;}

.col-10 {width: 83.33%; padding-left: 15%; background-color: #FFCCFF;  }

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}