* { border: 1px solid black !important;}


* {-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}
    
 *{font-family: 'Indie Flower', cursive;}
 
 *{background-color: #C6C6AA;}
     
.grid { margin: 1 auto;
       max-width: 1200px;
       width: 100%;}
		
.row {width: 100%;
     margin-bottom: 30px;
     display: flex; flex-wrap: wrap;}		
		
.col-3 {width: 25%;}

.h1 {color:#CF0000; }


   
.col-6 {width: 50%; font-family:'Open Sans', sans-serif; }

.board  { background-color:black; 
			margin: 10px auto;
			padding: 20px;
         max-width: 40%;}
.board {color: whitesmoke; font-size:18px;}